In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.simplefilter("ignore")

from matplotlib import font_manager, rc

#사용하려는 OTF 폰트의 경로를 지정합니다.
font_path = r'C:\Users\User\AppData\Local\Microsoft\Windows\Fonts\NotoSansKR-Regular.otf'

#폰트 이름을 가져옵니다.
font_name = font_manager.FontProperties(fname=font_path).get_name()

#폰트를 설정합니다.
rc('font', family=font_name)

# 2023년 전국 다문화가족지원센터 통번역 지원사 배치현황

In [2]:
file_path = '..\Excel\전국_다문화가족지원센터_통번역_지원사_배치현황_231013.csv'    #분석할 엑셀 파일 경로
df = pd.read_csv(file_path, encoding='cp949')   #엑셀 파일 불러오기

print(df.head())
print(df.dtypes)

   연번    시도명       센터명  통번역지원사 배치인원 베트남어 중국어 일본어 태국어 러시아어 네팔어 몽골어 캄보디아어 필리핀어
0   1  서울특별시  강남구 가족센터            1    X   O   X   X    X   X   X     X    X
1   2  서울특별시  강동구 가족센터            1    O   X   X   X    X   X   X     X    X
2   3  서울특별시  강북구 가족센터            1    O   X   X   X    X   X   X     X    X
3   4  서울특별시  강서구 가족센터            1    O   X   X   X    X   X   X     X    X
4   5  서울특별시  관악구 가족센터            1    O   X   X   X    X   X   X     X    X
연번              int64
시도명            object
센터명            object
통번역지원사 배치인원     int64
베트남어           object
중국어            object
일본어            object
태국어            object
러시아어           object
네팔어            object
몽골어            object
캄보디아어          object
필리핀어           object
dtype: object

In [3]:
#'시도명'의 고유값
df['시도명'].unique()

array(['서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시', '대전광역시', '울산광역시',
       '세종특별자치시', '경기도', '강원도', '충청북도', '충청남도', '전라북도', '전라남도', '경상북도',
       '경상남도', '제주특별자치도'], dtype=object)

In [4]:
#데이터프레임을 '서울특별시'로만 재구성
df_center = df.query('시도명 == "서울특별시"').iloc[:, 2:]

#인덱스를 '센터명'으로 설정하고 문자열에서 '가족센터' 삭제
df_center.set_index('센터명', inplace=True)
df_center.index = df_center.index.str.replace(' 가족센터', '')

#인덱스 오름차순으로 정렬
df_center = df_center.sort_index()

#인덱스 '서울시' 제외
df_center = df_center.drop(index='서울시')

#통역원 있다: 1 / 없다: 0
df_center.replace({'O': 1, 'X': 0}, inplace=True)

df_center.head()

     통번역지원사 배치인원  베트남어  중국어  일본어  태국어  러시아어  네팔어  몽골어  캄보디아어  필리핀어
센터명
강남구            1     0    1    0    0     0    0    0      0     0
강동구            1     1    0    0    0     0    0    0      0     0
강북구            1     1    0    0    0     0    0    0      0     0
강서구            1     1    0    0    0     0    0    0      0     0
관악구            1     1    0    0    0     0    0    0      0     0

`df_center.describe()` <br>

|    |통번역지원사 배치인원|베트남어|중국어|일본어|태국어|러시아어|네팔어|몽골어|캄보디아어|필리핀어|
|----|----------|-----------|-----------|-------|------|-------|-------|------------|-------|------|
count| 25.000000|  25.000000|  25.000000|  25.00|  25.0|   25.0|   25.0|   25.000000|  25.00|  25.0|
mean|	1.400000|	0.800000|	0.360000|	0.04|	0.0|	0.0|	0.0|	0.160000|	0.04|	0.0|
std|	0.866025|	0.408248|	0.489898|	0.20|	0.0|	0.0|	0.0|	0.374166|	0.20|	0.0|
min|	0.000000|	0.000000|	0.000000|	0.00|	0.0|	0.0|	0.0|	0.000000|	0.00|	0.0|
25%|	1.000000|	1.000000|	0.000000|	0.00|	0.0|	0.0|	0.0|	0.000000|	0.00|	0.0|
50%|	1.000000|	1.000000|	0.000000|	0.00|	0.0|	0.0|	0.0|	0.000000|	0.00|	0.0|
75%|	2.000000|	1.000000|	1.000000|	0.00|	0.0|	0.0|	0.0|	0.000000|	0.00|	0.0|
max|	4.000000|	1.000000|	1.000000|	1.00|	0.0|	0.0|	0.0|	1.000000|	1.00|	0.0|

∴**태국어**, **러시아어**, **네팔어**, **필리핀어**를 하는 통번역 지원사는 배치되지 않았음

# 2023년 구별(서울특별시) 국적별 등록외국인 현황

In [5]:
file_path = '..\Excel\등록외국인+현황(국적별_구별)_2023.xlsx'
df_gu = pd.read_excel(file_path, header=2)

print(df_gu.head())
print(df_gu.dtypes)

   자치구별(1)  자치구별(2)      소계 한국계 중국인     중국     미국   타이완     일본    베트남    몽골  \
0  자치구별(1)  자치구별(2)       계       계      계      계     계      계      계     계
1       합계       소계  252765   70051  63160  10974  7801  10275  23705  9187
2       합계      종로구   11036     836   3959    961   267    350   1951    92
3       합계       중구   10481    1064   3045    308   571    276   1501   276
4       합계      용산구   13955     604    585   2088   310   1020    270   173

   ... 오스트리아 수       단 아르헨티나 오       만 이 스 라 엘 페       루 덴  마  크 모  로  코  \
0  ...     계         계     계         계       계         계       계       계
1  ...   155        86   120        44     138       195     250     437
2  ...    10         -     -        15      39         3       9       6
3  ...    20         -     6         2       6        29      29      20
4  ...    19        59    22         3      33        38      76      92

  이  라  크 기       타
0       계         계
1     123      5991
2       -       234
3       1       424
4      78      1534

[5 rows x 62 columns]
자치구별(1)      object
자치구별(2)      object
소계           object
한국계 중국인      object
중국           object
              ...
페       루    object
덴  마  크      object
모  로  코      object
이  라  크      object
기       타    object
Length: 62, dtype: object

In [6]:
#데이터프레임 2행과 1열부터
df_gu = df_gu.iloc[2:, 1:]

#컬럼명을 변경하고 인덱스를 '자치구'로 설정
df_gu = df_gu.rename(columns={'자치구별(2)':'자치구'})
df_gu.set_index('자치구', inplace=True)

#'소계'열 삭제
df_gu.drop(columns='소계', inplace=True)

#'한국계 중국인'열 '중국'열에 더하고 삭제하기
df_gu['중국'] = df_gu['중국'] + df_gu['한국계 중국인']
df_gu = df_gu.drop(columns=['한국계 중국인'])

#데이터타입: object → int
df_gu = df_gu.replace('-', 0)
df_gu = df_gu.astype(int)

#인덱스 오름차순
df_gu = df_gu.sort_index()

df_gu.head()

,중국,미국,타이완,일본,베트남,몽골,필리핀,캐나다,인도,우즈베키스탄,...,오스트리아,수 단,아르헨티나,오 만,이 스 라 엘,페 루,덴 마 크,모 로 코,이 라 크,기 타
자치구,,,,,,,,,,,,,,,,,,,,,
강남구,1361,907,153,535,243,69,77,171,83,74,...,12,0,8,1,5,3,11,12,0,172
강동구,1988,215,79,206,395,220,95,34,30,139,...,0,0,4,0,1,3,0,7,0,39
강북구,1885,95,130,164,821,717,103,16,14,139,...,2,1,2,0,1,1,0,6,0,92
강서구,2768,205,260,375,463,105,136,59,55,94,...,6,0,2,0,0,1,1,13,1,90
관악구,8406,367,199,570,1253,825,155,78,239,335,...,19,4,12,3,7,17,10,66,3,508

# 구별 통역사 배치 현황 + 국적별 등록 외국인

In [7]:
#두 데이터프레임에서 겹치는 컬럼 알아보기
print(df_gu.columns)   #'구로구' 상위 7개
print(df_center.columns)

Index(['중국', '미국', '타이완', '일본', '베트남', '몽골', '필리핀', '캐나다', '인도', '우즈베키스탄',
       '영국', '프랑스', '타이', '러시아(연방)', '독일', '오스트레일리아', '네팔', '파키스탄', '인도네시아',
       '나이지리아', '말레이시아', '방글라데시', '캄 보 디 아', '사우디아라비아', '홍       콩', '뉴질랜드',
       '카자흐스탄', '스 리 랑 카', '남아프리카 공화국', '미  얀  마', '싱 가 포 르', '이       란',
       '브  라  질', '아 일 랜 드', '스  웨  덴', '이 탈 리 아', '튀 르 키 예', '네 덜 란 드',
       '키르기스스탄', '멕  시  코', '스  페  인', '우크라이나', '스  위  스', '핀  란  드',
       '가       나', '벨  기  에', '폴  란  드', '이  집  트', '오스트리아', '수       단',
       '아르헨티나', '오       만', '이 스 라 엘', '페       루', '덴  마  크', '모  로  코',
       '이  라  크', '기       타'],
      dtype='object')
Index(['통번역지원사 배치인원', '베트남어', '중국어', '일본어', '태국어', '러시아어', '네팔어', '몽골어',
       '캄보디아어', '필리핀어'],
      dtype='object')

겹치는 나라: `df_center.columns` 중 태국, 러시아, 캄보디아를 제외한 모든 나라

In [8]:
#겹치는 컬럼으로 두 데이터프레임 열을 기준(axis=1)으로 합치기
df_center_country = df_center[['베트남어', '중국어', '일본어', '네팔어', '몽골어', '필리핀어']]
df_gu_country = df_gu[['베트남', '중국', '일본', '네팔', '몽골', '필리핀']] 
df_total = pd.concat([df_center_country, df_gu_country], axis=1)    

df_total.head()

     베트남어  중국어  일본어  네팔어  몽골어  필리핀어   베트남    중국   일본   네팔   몽골  필리핀
강남구     0    1    0    0    0     0   243  1361  535   19   69   77
강동구     1    0    0    0    0     0   395  1988  206   18  220   95
강북구     1    0    0    0    0     0   821  1885  164   41  717  103
강서구     1    0    0    0    0     0   463  2768  375   13  105  136
관악구     1    0    0    0    0     0  1253  8406  570  103  825  155

# 국가별 통역사 필요 현황 조사

## 예시 '베트남'

In [9]:
#베트남
a = df_total[['베트남어', '베트남']]

#열 이름 수정
a = a.rename(columns={'베트남어':'통역사', '베트남':'베트남인'})

#'베트남인' 열 평균값
avg_vit = a['베트남인'].mean() 

#새로운 '필요' 열 초기화
a['필요'] = 0

#2: avg_vit보다 크거나 같고 '통역사' == 1
#1: avg_vit보다 크거나 같은데 '통역사' == 0
#0: avg_vit보다 작은 경우
for i in range(a.shape[0]):
    idx = a.index
    #'베트남인' 값이 평균 이상
    if a.loc[idx[i], '베트남인'] >= avg_vit:
        if a.loc[idx[i], '통역사'] == 0:   #'통역사' 값이 0
            a.loc[idx[i], '필요'] = 1  #'필요' 열에 1 추가
        else:   #'통역사' 값이 1
            a.loc[idx[i], '필요'] = 2  #'필요' 열에 2 추가
    #'베트남인' 값이 평균 미만
    else:
        a.loc[idx[i], '필요'] = 0  #'필요' 열에 0 추가

a.tail()

     통역사  베트남인  필요
용산구    1   270   0
은평구    1   497   0
종로구    1  1951   2
중구     0  1501   1
중랑구    1   742   0

## for문을 활용

In [10]:
#변수로 설정할 국가 네이밍
countries = {'베트남': 'vit', '중국': 'chi', '일본': 'jap', '네팔': 'nel', '몽골': 'mon', '필리핀': 'pil'}

#각 국가에 대해 데이터프레임 생성 및 처리
for i, country in enumerate(countries):
    #i번째 언어 열과 i+6번째 국가 열 선택
    df_country = df_total[[f'{country}어', country]]
    
    #열 이름 수정
    df_country = df_country.rename(columns={f'{country}어': '통역사', country: f'{country}인'})
    
    #국가별 평균값 계산
    avg_country = df_country[f'{country}인'].mean()
    
    #새로운 '필요' 열 초기화
    df_country['필요'] = 0
    
    #'필요' 열 업데이트
    for j in range(df_country.shape[0]):
        idx = df_country.index
        if df_country.loc[idx[j], f'{country}인'] >= avg_country:
            if df_country.loc[idx[j], '통역사'] == 0:
                df_country.loc[idx[j], '필요'] = 1
            else:
                df_country.loc[idx[j], '필요'] = 2
        else:
            df_country.loc[idx[j], '필요'] = 0
    
    #동적 변수 생성: globals() 함수를 사용해 count_{country} 형식으로 변수명을 생성하여 각 국가의 데이터프레임을 저장
    globals()[f'df_{countries[country]}'] = df_country

In [11]:
#결과를 저장할 딕셔너리 초기화
count_dfs = {}

#각 국가에 대해 '필요' 값 개수를 세고, 데이터프레임으로 변환
for country in countries:
    #'필요' 열의 값 개수 세기
    count_df = globals()[f'df_{countries[country]}']['필요'].value_counts().reset_index()
    
    #열 이름 변경
    count_df.columns = ['필요', countries[country].capitalize()]
    
    #'필요' 열을 인덱스로 설정
    count_df.set_index('필요', inplace=True)
    
    #딕셔너리에 결과 저장
    count_dfs[countries[country]] = count_df

#여러 나라의 데이터를 하나의 데이터프레임으로 병합
from functools import reduce
final_df = reduce(lambda left, right: left.join(right, how='outer'), count_dfs.values())

#NaN 값을 0으로 채우고 다시 int로 변환
final_df.fillna(0, inplace=True)
final_df = final_df.astype(int)

final_df

    Vit  Chi  Jap  Nel  Mon  Pil
필요
0    15   18   17   19   19   17
1     2    2    7    6    4    8
2     8    5    1    0    2    0

**'필요'열에 값에 넣을 0, 1, 2의 기준**<br>

1. 국가별 '등록 외국인' 수 ≥ 국가별 '등록 외국인' 수 평균<br>
    ⅰ. `통역사 == 0`' -> `'필요' == 1`<br>
    ⅱ. `통역사 == 1` -> `'필요' == 2`<br>
2. 국가별 '등록 외국인' 수 ＜ 국가별 '등록 외국인' 수 평균<br>
    ⅰ. '통역사' 값 상관없이 `'필요' == 0`

<br>

| 국가   | `필요 == 1` | `필요 == 2` | `필요 == 0` | 분석                                                                                   |
|--------|------------|------------|------------|----------------------------------------------------------------------------------------|
| **베트남** | 2          | 8          | 15         | - 외국인 수가 평균 이상인 지역이 많음 <br> - 대부분 통역사 지원이 잘 이루어짐 <br> - 2곳에서 통역사 부재 |
| **중국**   | 2          | 5          | 18         | - 대부분 통역사 지원이 이루어짐 <br> - 일부 지역에서만 통역사 부족 발생                |
| **일본**   | 7          | 1          | 17         | - 통역사 부재가 심각한 문제 <br> - 평균 이상인 지역에서 통역사 없는 경우 다수 발생    |
| **네팔**   | 6          | 0          | 19         | - 통역사가 없는 지역이 많음 <br> - 통역사 지원이 시급 <br> - 평균 이하 지역은 통역사 필요성이 적음 |
| **몽골**   | 4          | 2          | 19         | - 일부 지역에서 통역사 부재 <br> - 통역사가 있는 지역도 존재 <br> - 중간 정도의 지원 상태 |
| **필리핀** | 8          | 0          | 17         | - 평균 이상인 지역에서 통역사 전혀 없음 <br> - 긴급한 통역사 지원 필요                |

## 자치구별 등록 외국인은 평균보다 많은데 통역사는 없는 곳

In [12]:
print(df_vit.query('필요==1').index)    #베트남
print(df_chi.query('필요==1').index)    #중국
print(df_jap.query('필요==1').index)    #일본
print(df_nel.query('필요==1').index)    #네팔
print(df_mon.query('필요==1').index)    #몽골
print(df_pil.query('필요==1').index)    #필리핀

Index(['광진구', '중구'], dtype='object')
Index(['관악구', '금천구'], dtype='object')
Index(['강남구', '관악구', '광진구', '마포구', '서대문구', '성북구', '용산구'], dtype='object')
Index(['관악구', '광진구', '동대문구', '성북구', '영등포구', '종로구'], dtype='object')
Index(['강북구', '관악구', '광진구', '중랑구'], dtype='object')
Index(['관악구', '도봉구', '동대문구', '서대문구', '성동구', '성북구', '용산구', '중랑구'], dtype='object')

| 지역   | 개수 | 국가   |
|--------|------|--------|
| 관악구 | 5    | 베트남, 중국, 일본, 네팔, 필리핀 |
| 광진구 | 4    | 베트남, 일본, 네팔, 몽골         |
| 성북구 | 3    | 일본, 네팔, 필리핀               |
| 서대문구 | 2  | 일본, 필리핀                     |
| 용산구 | 2    | 일본, 필리핀                     |
| 중랑구 | 2    | 네팔, 필리핀                     |
| 동대문구 | 2  | 일본, 필리핀                     |
| 중구   | 1    | 베트남                           |
| 금천구 | 1    | 중국                             |
| 강남구 | 1    | 일본                             |
| 마포구 | 1    | 일본                             |
| 영등포구 | 1  | 네팔                             |
| 종로구 | 1    | 네팔                             |
| 강북구 | 1    | 네팔                             |
| 도봉구 | 1    | 필리핀                           |
| 성동구 | 1    | 필리핀                           |

### 주요 분석 내용
**1. 통역사 필요성 집중 지역**<br>
특정 지역(구)에 여러 국가의 외국인들이 많이 거주하고 있으며, 통역사 제공이 절실한 상황이 확인된다. 특히 관악구와 광진구는 다수 국가에서 평균 이상의 외국인들이 거주하고 있지만 통역사가 부족한 상황이다. 관악구는 베트남, 중국, 일본, 네팔, 필리핀 등 5개 국가에서 광진구는 베트남, 일본, 네팔, 몽골 등 4개 국가에서 외국인 수에 비해 통역사가 부족하다.<br>

**2. 특정 국가별 통역사 부족 지역**<br>
일본의 경우 서울 내 여러 구에서 외국인 수가 평균 이상임에도 불구하고, 많은 지역에서 통역사가 부족한 상태이다. 강남구, 마포구, 서대문구, 성북구, 용산구 등 다양한 구에서 통역사가 필요하다. 필리핀 외국인 역시 동대문구, 서대문구, 성북구, 용산구 등 여러 구에서 통역사가 필요하지만 제공되지 않는 상황이다.<br>

**3. 외국인 커뮤니티의 분포**<br>
특정 국가 외국인들은 서울의 특정 지역에 집중적으로 거주하는 경향이 있다. 예를 들어, 일본과 필리핀 국적의 외국인들은 서울의 성북구, 서대문구, 용산구 같은 지역에 많이 거주하는 것으로 보인다. 이들은 언어적 지원이 부족한 상태로 생활해야 하며, 이는 외국인 사회 통합에 큰 영향을 미칠 수 있다.<br>

### 결론 및 제언
**1. 통역사 배치 필요성**<br>
통역사가 없는 상태에서 외국인 거주자 수가 평균 이상인 지역들에 통역사 지원을 강화할 필요가 있다. 특히 관악구, 광진구, 성북구 등 다수 외국인이 집중적으로 거주하는 지역은 다국적 통역사 지원이 시급하다.<br>

**2. 다문화 지원 정책 강화**<br>
특히 일본, 필리핀, 네팔 등 특정 국가의 외국인들이 많이 거주하는 지역에 대해 다문화 지원 프로그램을 강화하고, 지역별로 필요한 언어 지원 서비스를 구체적으로 설계해야 한다.